.SudokuElement {
  width: 4vw;
  height: 4vw;
  box-sizing: border-box;
  border: 1px solid black;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
