.Logo {
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  color: white;
  /* margin-left: 20px; */
}
.Logo i {
  margin-left: 20px;
  margin-right: 10px;
}

@media (max-width: 1000px) {
  .Logo {
    font-size: 30px;
  }
  .Logo i {
    margin-left: 0;
    margin-right: 10px;
  }
}
