.MazeLoader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fade-out {
  transition: all 0.5s ease-in;
  transform: scale(2.5);
  opacity: 0;
}

.MazeLoader .loading {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 10px solid black;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  margin-bottom: 50px;
  animation: rotate-loader 1s linear infinite;
}

@keyframes rotate-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
